.itemContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 10px;
  /* background-color: aquamarine; */
}
.checkListItem {
  list-style-type: none;
  font-size: 20px;
  padding: 10px;
}
/* checkListItem.module.css */
.checkbox {
  transform: scale(1.5);
  margin-right: 10px;
  accent-color: #4a90e2; /* modern browsers let you color it too */
  background-color: white;
}
.deleteButton {
  background-color: red;
  border: none;
  color: white;
  font-size: 21px;
  cursor: pointer;
}
@media (max-width: 768px) {
  .itemContainer {
    /* flex-direction: column; */
    align-items: flex-start; /* align to the left */
    /* justify-content: flex-start; */
    margin: 5px;
    padding: 5px;
    gap: 30px; /* space between checkbox and delete button */
  }
  .deleteButton {
    font-size: 19px;
    align-self: flex-end; /* move delete button to the right */
  }
  .checkListItem {
    padding: 5px;
  }
}
